.email {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.enter-button {
  float: right;
}

.recent-title {
  box-sizing: border-box;

  min-height: 24px;
  margin: 0 15px;
  padding: 12px 5px 6px;

  font-weight: 500;
  font-size: 22px;
  text-align: left;
}

.email-list {
  flex: 1;
  padding: 8px;
}

.email-item {
  padding: 8px 8px;
  text-align: left;

  .subject {
    font-size: 17px;
  }

  .unread-badge {
    border-radius: 50%;
    background: red;
    width: 6px;
    height: 6px;
    vertical-align: text-top;
    display: inline-block;
  }

  .info {
    margin: 4px 0;
    font-size: 12px;
  }
}
