.email {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.logo {
  width: 72px;
  height: 72px;
  margin: 8px auto;
}

.apply-title {
  margin: 8px 15px 12px;
  font-size: 18px;
}

.input-list-wrapper {
  max-width: var(--max-width);
  margin: 0 var(--horizontal-margin);
}

.input-list-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 24px;

  &::after {
    content: " ";

    position: absolute;
    right: 24px;
    bottom: 0;
    left: 24px;

    height: 1px;
    border-bottom: 1px solid var(--border-color);

    transform: scaleY(0.4);
    transform-origin: 0 100%;
  }

  &:last-child::after {
    display: none;
  }

  .text {
    flex: none;
    padding-right: 16px;
    text-align: left;
  }

  .input {
    flex: 1;
    text-align: left;
  }

  .picker {
    text-align: left;
  }
}

.apply-button {
  min-width: 240px;
  margin: 8px auto;
}

.enter-button {
  float: right;
}

.recent-title {
  box-sizing: border-box;

  max-width: var(--max-width);
  min-height: 24px;
  margin: 0 var(--horizontal-margin);
  padding: 12px 5px 6px;

  font-weight: 500;
  font-size: 22px;
  text-align: left;
}

.email-list {
  flex: 1;
  padding: 8px;
}

.email-item {
  padding: 8px 8px;
  text-align: left;

  .subject {
    font-size: 17px;
  }

  .info {
    margin: 4px 0;
    font-size: 12px;
  }
}
