.action-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    text-align: left;
  }

  .blacklist {
    margin: 8px 15px;
    color: #f33;
    font-size: 18px;
  }

  .link {
    color: var(--action-color);
  }

  .hint {
    margin: 8px 15px;
    color: var(--dark-grey);
    font-size: 14px;
    text-align: left;
  }

  .action {
    margin: 16px auto;
  }
}
