@import "../../../../styles/lib/icon";
@import "../../../../styles/lib/star-button";

.info-detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: left;
}

.title {
  margin: 6px 16px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.25;
}

.info {
  margin-bottom: 8px;
  font-size: 14px;
}

.views,
.from,
.author,
.time {
  display: block;
  margin: 0 4px;
}

.info-icon {
  position: relative;
  bottom: -1.75px;
  width: 14px;
  height: 14px;
}

.content {
  flex: 1;

  width: calc(100% - 32px);
  margin: 0 16px;

  font-size: 15px;
  text-align: justify;
  word-break: break-all;

  @media (min-width: 480px) {
    font-size: 16px;
  }

  .img {
    width: 92%;
    max-width: 520px;
    margin: 16px auto;
    border-radius: 16px;
  }
}
