.error-hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 50vh;

  text-align: center;

  .text {
    margin: 20px 0;
    font-size: 20px;
  }

  &.mini {
    height: unset;
    margin: 4px 10px;

    .tip {
      display: flex;
      align-items: center;

      .text {
        margin: 8px 0.25em;
        font-size: 14px;
      }
    }
  }
}
