.error-hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 50vh;

  text-align: center;

  &.mini {
    height: unset;
    margin: 4px 10px;

    .error-msg {
      display: flex;
      align-items: center;
    }
  }
}

.error-text {
  margin: 20px 15px;
  font-size: 20px;

  .error-hint.mini & {
    margin: 8px 4px;
    font-size: 14px;
  }
}
