.filter {
  padding: 4px 15px;
  text-align: left;
}

picker {
  display: inline-block;

  margin: 4px 12px;
  padding: 8px 12px;
  border-radius: 8px;

  background-color: var(--bg-color-block);
}

.school {
  margin: 8px 0;
  text-align: left;
}

.site-button {
  float: right;

  width: 16px;
  height: 16px;
  padding: 8px;
  border-radius: 50%;

  background-color: var(--bg-color-block);
}

.site-icon {
  vertical-align: top;
  width: 16px;
  height: 16px;
}

.school-name {
  margin: 8px 15px 4px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
}

.major {
  margin: 4px 15px;
  border-bottom: 1px solid var(--border-color);
}

.name {
  font-size: 17px;
  line-height: 1.5;
}

.info {
  font-size: 14px;
}
