picker {
  display: inline-block;

  margin: 4px 12px;
  padding: 8px 12px;
  border-radius: 8px;

  background-color: var(--bg-color-block);
}

.filter {
  padding: 4px 16px;
  text-align: left;
}

.school-item {
  margin: 8px 0;
  text-align: left;
}

.school-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-button {
  width: 16px;
  height: 16px;
  padding: 8px;
  border-radius: 50%;

  background-color: var(--bg-color-block);
}

.site-icon {
  width: 100%;
  height: 100%;
}

.school-name {
  margin: 8px 16px 4px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
}

.major-item {
  margin: 4px 16px;
  border-bottom: 1px solid var(--border-color);
}

.major-name {
  font-size: 17px;
  line-height: 1.5;
}

.major-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.rich-text {
  font-size: 14px;
}
