.selector {
  margin: 40px 16px;
}

picker {
  margin: 24px 16px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--bg-color-block);
}

.filter {
  margin: 8px 0;

  button {
    margin: 0 4px;
  }
}

.grade-item {
  margin: 8px 0;
  padding: 4px;
  border-bottom: 1px solid var(--border-color);
  text-align: left;

  &:last-child {
    border-bottom: none;
  }

  .header {
    margin: 4px 0;
    font-size: 16px;
  }

  .info {
    font-size: 14px;
  }

  .label {
    font-weight: bold;
  }
}
