.top-tab-wrapper {
  position: relative;
  padding-top: 36px;
}

.top-tab-header-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 30px;
  padding: 0 4px;

  white-space: nowrap;

  transition: all 0.3s;
}

.top-tab-header-item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px 12px;
  border-bottom: 2px solid var(--bg-color);

  color: var(--grey3);

  &.active {
    border-color: var(--theme-color);
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
  }
}

.page-wrapper {
  height: 200px;

  .tab-page {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
