.top-tab-wrapper {
  position: relative;
  padding-top: 36.8px;
}

.top-tab-head {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;

  width: 100%;
}

.top-tab-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  min-width: 100%;
  padding: 0 4px;

  white-space: nowrap;

  transition: all 0.3s;
}

.top-tab-header-item {
  flex: 1 0;
  padding: 0 10px;
  color: var(--grey3);

  .top-tab-header-text {
    padding: 2px 0;
    border-bottom: 2px solid var(--bg-color);
  }

  &.active {
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;

    .top-tab-header-text {
      border-color: var(--theme-color);
    }
  }
}

.page-wrapper {
  height: 200px;

  .tab-page {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
