page,
wx-root-portal-content {
  height: 100%;
  font-size: 16px;
  font-family:
    -apple-system-font, "PingFang SC", "Helvetica Neue", Helvetica, STHeiti,
    Tahoma, sans-serif;
}

button {
  background-color: var(--bg-block);

  &.plain {
    background-color: var(--bg-block) !important ;
    color: inherit !important;
  }

  &.primary {
    background-color: var(--theme-color) !important;
  }

  &.warn {
    background-color: var(--bg-block) !important ;
    color: #fa5151 !important;
  }
}

picker {
  font-size: 16px;
}

.button-hover {
  background-color: var(--bg-hover) !important;
}

.text-button-hover {
  opacity: 0.2;
}
