/* 上下边框 */
.border-top,
.border-bottom,
.border-block {
  position: relative;
}

.border-top,
.border-block {
  &::before {
    top: 0;
    border-top: 1px solid var(--border-color);
    transform-origin: 0 0;
  }
}

.border-bottom,
.border-block {
  &::after {
    bottom: 0;
    border-bottom: 1px solid var(--border-color);
    transform-origin: 0 100%;
  }
}

.border-top::before,
.border-bottom::after,
.border-block::before,
.border-block::after {
  content: " ";

  position: absolute;
  right: 0;
  left: 0;

  height: 1px;

  transform: scaleY(0.4);
}
