page {
  --max-width: 517px;
  --horizontal-margin: 15px;
  --paragraph-horizontal-margin: auto;

  @media (min-width: 547px) {
    --horizontal-margin: auto;
  }

  .grey {
    --max-width: none;
    --horizontal-margin: 15px;
    --paragraph-horizontal-margin: 15px;
  }
}
