page,
wx-root-portal-content {
  --max-width: initial;
  --horizontal-margin: 16px;
}

// NOTE: Skyline does not support media queries
// @media (min-width: 552px) {
.medium,
.large {
  --max-width: 520px;
  --horizontal-margin: auto;
}

.grey {
  --max-width: initial;
  --horizontal-margin: 16px;
}
