@use "sass:color";

/*****************
    加载中图标
*****************/

@keyframes jump {
  0% {
    top: 0;
  }

  20% {
    top: -18rpx;
  }

  40% {
    top: -32rpx;
  }

  60% {
    top: -42rpx;
  }

  80% {
    top: -48rpx;
  }

  100% {
    top: -50rpx;
  }
}

@keyframes shadow {
  0% {
    transform: scaleX(1.4);
  }

  20% {
    transform: scaleX(1.26);
  }

  40% {
    transform: scaleX(1.16);
  }

  60% {
    transform: scaleX(1.08);
  }

  80% {
    transform: scaleX(1.02);
  }

  100% {
    transform: scaleX(1);
  }
}

.loading-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  .text {
    margin: 8px auto;
    color: var(--grey);
    font-size: 18px;

    @media (min-width: 480px) {
      margin: 12px auto;
      font-size: 24px;
    }
  }

  .shadow {
    width: 60px;
    height: 10px;
    margin: 0 20px 0;
    border-radius: 50%;

    background-color: rgb(191 190 195 / 15%);
    box-shadow: 0 0 5px rgb(191 190 195 / 15%);

    animation: shadow 1s ease 0s none infinite alternate-reverse;
  }
}

.loading-logo {
  width: 100px;
  height: 125px;
  filter: drop-shadow(-1px 1px 2px rgb(191 190 195 / 15%));

  .logo {
    position: relative;

    width: 100px;
    height: 92px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 28px;
    color: #fff;

    background-color: var(--theme-color);
    padding-bottom: 8px;

    animation: jump 1s linear 0s none infinite alternate-reverse;
  }
}

.outdated-banner {
  position: relative;

  margin: 8px 15px;
  padding: 4px 12px;

  background-color: #fff7d0;
  color: color.scale(#f4cd00, $lightness: -20%);

  font-size: 10px;
  text-align: left;
}
