.rich-media {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
  word-break: break-all;

  @media (min-width: 480px) {
    font-size: 16px;
  }

  .h1 {
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 24px;
  }

  .h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .h3 {
    margin-top: 9px;
    margin-bottom: 4px;
    font-size: 18px;
  }

  .p {
    line-height: 1.5;
    text-indent: 1.5em;
  }

  .ul {
    padding-left: 1em;
  }

  .table {
    display: inline-block;

    overflow-x: auto;

    max-width: 100%;
    margin: 8px;
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    border-radius: 8px;
  }

  .th,
  .td {
    width: fit-content;
    margin: 0;
    padding: 4px 6px;

    text-align: center;
    white-space: nowrap;
  }

  .th {
    border-right: 1px solid var(--text-color);
    font-weight: 500;

    &:last-child {
      border-right: none;
    }
  }

  .td {
    border: 1px solid var(--text-color);

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  .tr:first-child {
    .td {
      border-top: none;
    }
  }

  .tr:last-child {
    .td {
      border-bottom: none;
    }
  }
}
