.account {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.logo {
  width: 96px;
  height: 96px;
  margin: 24px auto;
}

.input-list-wrapper {
  max-width: var(--max-width);
  margin: 0 var(--horizontal-margin);
}

.input-list-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 24px;

  &::after {
    content: " ";

    position: absolute;
    right: 24px;
    bottom: 0;
    left: 24px;

    height: 1px;
    border-bottom: 1px solid var(--border-color);

    transform: scaleY(0.4);
    transform-origin: 0 100%;
  }

  &:last-child::after {
    display: none;
  }

  .text {
    flex: none;
    padding-right: 16px;
    text-align: left;
  }

  .input {
    flex: 1;
    text-align: left;
  }

  .password-button {
    flex-shrink: 0;

    width: 40px;
    padding: 4px 8px;

    color: var(--text-color);

    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
  }

  .captcha-image {
    width: 80px;
    height: 32px;
  }
}

.delete-button {
  margin: 16px auto 8px;
}

.save-button {
  margin: 16px auto 8px;
}

.activate-button {
  margin: 8px auto 16px;
  color: var(--grey3);
}

.list-component-content .desc {
  max-width: unset !important;
}
