.temp/**
**/node_modules/**

app/function/music/music.wxs
app/function/utils/encoder.js
app/service/auth/encrypt.js

dist/**

server/d/**
server/site/**/*.md
!server/site/README.md
!server/site/about/**/*.md
!server/site/contributing/**/*.md
server/site/.vuepress/.cache/**
server/site/.vuepress/.temp/**
server/site/.vuepress/dist/**

server/service/vendor/**
server/service/composer.lock
server/pnpm-lock.yaml

project.config.json
project.private.config.json

pnpm-lock.yaml
