app/function/music/music.wxs
app/function/utils/parser.js
app/function/utils/parser.d.ts

dist/**

server/r/**
server/site/**/*.md
!server/site/README.md
!server/site/about/**/*.md
!server/site/contributing/**/*.md
server/site/.vuepress/.cache/**
server/site/.vuepress/.temp/**
server/site/.vuepress/dist/**

server/service/vendor/**
service/service/composer.lock
server/pnpm-lock.yaml

project.config.json
project.private.config.json

pnpm-lock.yaml
