/* android grid */

.android {
  .grid-component-wrapper {
    position: relative;

    overflow: hidden;

    margin: 8px 15px;
    border-radius: 8px;

    background-color: var(--bg-color-block);

    .grid {
      position: relative;

      box-sizing: border-box;

      width: 25%;
      margin: 0 !important;
      padding: 8px !important;
      border: none !important;
      border-radius: 0 !important;

      background-color: var(--bg-color-block);

      line-height: 1.6 !important;

      @media (min-width: 480px) {
        width: 16.666%;
      }

      @media (min-width: 1024px) {
        width: 12.5%;
      }
    }

    .icon {
      width: 32px;
      height: 32px;
    }

    .text {
      color: var(--grey4);
      font-size: 12px;
    }
  }
}
