@import "../../styles/lib/refresh-button";
@import "../../styles/lib/widget";
@import "common";

.loading {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}

.refresh-button {
  vertical-align: bottom;
  float: right;
}
