@import "../../styles/lib/refresh-button";
@import "../../styles/lib/widget";

.info-list {
  flex: 1;
}

.info {
  position: relative;
  padding: 4px 0;
  font-size: 14px;

  &::after {
    content: " ";

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;
    border-top: 1px solid var(--border-color);

    transform: scaleY(0.4);
    transform-origin: 0 100%;
  }

  &:last-child::after {
    display: none;
  }
}

.button-hover {
  background-color: var(--bg-hover) !important;
}

.title {
  line-height: 1.25;
  text-align: left;

  &.small {
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
