.android {
  .list-component-content {
    border-radius: 16px;
  }

  .list-item {
    &:first-child {
      padding-top: 6px;
    }

    &:last-child {
      padding-bottom: 6px;
    }

    &::after {
      display: none;
    }
  }

  .list-item-detail {
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
    text-align: left;
  }

  .list-item-text {
    font-weight: 500;
    font-size: 16px;
  }

  .list-item-desc {
    display: block;
    font-size: 13px;
    color: var(--action-color);
    margin-top: 2px;
    text-align: left;
  }
}
