.pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 12px;

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: max(env(safe-area-inset-bottom), 12px);
  }
}

.prev-button,
.next-button {
  margin: 2px 4px;
  padding: 5px 8px;
  font-size: 14px;
  line-height: 1.5;
}

.page-picker {
  padding: 5px 8px;
  border-radius: 8px;
  background-color: var(--bg-block);
  line-height: 1.5;
}
