module.exports = {
  /** 获得天气 */
  getWeather: function (forecast) {
    if (forecast) {
      if (forecast.dayWeather === forecast.nightWeather) {
        return forecast.dayWeather;
      }

      return forecast.dayWeather + "转" + forecast.nightWeather;
    }

    return "";
  },

  /** 获得温度 */
  getTemperature: function (forecast) {
    if (forecast) {
      return forecast.maxDegree + "/" + forecast.minDegree + "°";
    }

    return "";
  },

  getLevel: function (level) {
    return level === "红色"
      ? "red"
      : level === "黄色"
      ? "yellow"
      : level === "蓝色"
      ? "blue"
      : "";
  },
};
