.license {
  margin: 8px 15px;
}

.license-content {
  .h1 {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 6px;
  }

  .h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .h3 {
    font-size: 18px;
    margin-top: 9px;
    margin-bottom: 4px;
  }

  .p {
    text-indent: 1.5em;
    line-height: 1.5;
  }

  .ul {
    padding-left: 1em;
  }

  .strong {
    font-weight: bold;
    color: #f00;
  }
}
