@import "../../../../styles/lib/icon";

.notice-list-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.notice-list {
  flex: 1;
  overflow-y: auto;
  padding: 6px 0;
}

.notice {
  margin: 0 15px;
  padding: 8px 6px;

  &:first-child::before {
    display: none;
  }
}

.button-hover {
  background-color: var(--bg-hover) !important;
}

.title {
  line-height: 1.25;
  text-align: left;
}

.info {
  margin-top: 4px;
  font-size: 14px;
  text-align: left;

  .icon-font {
    margin: 0 2px;
  }
}
