.table-component {
  margin: 8px 16px;
  text-align: center;
}

.table {
  display: table;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.caption {
  display: table-caption;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
}

.tr {
  display: table-row;
}

.th {
  display: table-cell;
  vertical-align: middle;

  padding: 4px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);

  font-weight: 600;
  font-size: 17px;
  line-height: 1.25;

  &:first-child {
    border-left: none;
  }
}

.td {
  display: table-cell;
  vertical-align: middle;

  padding: 4px;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);

  font-size: 16px;
  line-height: 1.25;

  &:first-child {
    border-left: none;
  }
}
