var underHeaders = [
  "课程名称",
  "成绩",
  "学分",
  "课程类别",
  "修读时间",
  "学时",
  "考试类型",
];
var gradHeaders = [
  "课程名称",
  "成绩",
  "学分",
  "绩点",
  "课程性质",
  "课程类别",
  "修读时间",
  "学时",
  "考试类型",
];

module.exports = {
  getHeaders: function (type) {
    return type === "under" ? underHeaders : gradHeaders;
  },

  getGradeState: function (grade) {
    return grade === 0 ? "absent" : grade < 60 ? "failed" : "normal";
  },
};
