/* android grid */

.android {
  .grid-component-header {
    padding: 0 8px;
  }

  &.grey .grid-component-header {
    padding: 0 8px;
    color: var(--grey);
    font-size: 14px;
  }

  .grid-component-wrapper {
    position: relative;

    overflow: hidden;

    margin: 8px 16px;
    border-radius: 8px;

    background-color: var(--bg-block);
  }

  .grid-item {
    position: relative;

    box-sizing: border-box;
    width: 25%;
    margin: 0;
    padding: 8px;

    background-color: var(--bg-block);

    line-height: 1.25;
    text-align: center;

    // NOTE: Skyline does not support media queries
    // @media (min-width: 480px) {
    .medium & {
      width: 16.666%;
    }

    // NOTE: Skyline does not support media queries
    // @media (min-width: 1024px) {
    .xl & {
      width: 12.5%;
    }
  }

  // NOTE: Skyline does not support media queries
  // @media (min-width: 480px) {
  &.medium .grid-item {
    width: 16.666%;
  }

  // NOTE: Skyline does not support media queries
  // @media (min-width: 1024px) {
  &.xl .grid-item {
    width: 12.5%;
  }

  .grid-icon {
    width: 28px;
    height: 28px;
    margin: 0 auto 4px;
  }

  .grid-text {
    color: var(--grey4);
    font-size: 12px;
  }

  .grid-component-footer {
    padding: 0 8px;
    color: var(--grey);
    font-size: 13px;
  }
}
