.grid-component-header {
  margin: 8px 16px 4px;

  color: var(--text-color);

  font-weight: 500;
  font-size: 19px;
  text-align: left;

  &:empty {
    display: none;
  }

  // NOTE: Skyline does not support media queries
  // @media (min-width: 768px) {
  .large & {
    font-size: 21px;
  }

  .grey & {
    display: block;

    margin: 20px 16px 4px;
    padding: 0 4px;

    color: var(--dark-grey);

    font-weight: 500;
    font-size: 15px;

    &:empty {
      display: block;
    }

    &.after-title:empty {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.grid-component-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
  margin-bottom: 4px;
}

.grid-component-footer {
  margin: 4px 16px;
  color: var(--dark-grey);
  font-size: 12px;
  text-align: left;

  .grey & {
    padding: 0 4px;
  }
}
