.grid-component-header {
  min-height: 13px;
  padding: 12px 16px 4px;

  color: var(--text-color);

  font-weight: 500;
  font-size: 19px;
  text-align: left;

  // NOTE: Skyline does not support media queries
  // @media (min-width: 768px) {
  &.large {
    min-height: 38px;
    font-size: 21px;
  }

  .grey & {
    min-height: 13px;
    margin: 0 10px;
    padding: 14px 16px 2px;

    color: var(--dark-grey);

    font-size: 13px;

    // NOTE: Skyline does not support media queries
    // @media (min-width: 768px) {
    &.large {
      margin: 0 16px;
    }
  }
}

.grid-component-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.grid-component-footer {
  min-height: 16px;
  padding: 5px 16px;

  color: var(--dark-grey);

  font-size: 13px;
  text-align: left;

  .grey & {
    margin: 0 10px;

    // NOTE: Skyline does not support media queries
    // @media (min-width: 768px) {
    &.large {
      margin: 0 16px;
    }
  }
}
