.ios {
  .grid-component-wrapper {
    padding: 0 6px;

    @media (min-width: 768px) {
      padding: 0 10px;
    }

    .grid {
      width: calc(25% - 8px);
      margin: 4px;
      padding: 10px 0;
      border-radius: 6px;

      background-color: var(--bg-block);

      @media (min-width: 480px) {
        width: calc(16.666% - 8px);
      }

      @media (min-width: 1024px) {
        width: calc(12.5% - 8px);
      }
    }

    .icon {
      width: 28px;
      height: 28px;
    }

    .text {
      color: var(--grey4);
      font-size: 13px;
    }
  }
}
