.nenu {
  .grid-component-wrapper {
    padding: 0 6px;
    text-align: center;
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(33.33% - 24px);
    margin: 4px;
    padding: 6px 8px;
    border-radius: 6px;

    background-color: var(--bg-block);
  }

  .grid-icon {
    width: 24px;
    height: 24px;
  }

  .grid-text {
    color: var(--grey4);
    font-size: 13px;
  }
}

// NOTE: Skyline does not support media queries
// @media (min-width: 768px) {
.nenu.large .grid-component-wrapper {
  padding: 0 10px;
}

// NOTE: Skyline does not support media queries
// @media (min-width: 480px) {
.nenu.medium .grid-item {
  width: calc(25% - 24px);
}

// NOTE: Skyline does not support media queries
// @media (min-width: 768px) {
.nenu.large .grid-item {
  width: calc(20% - 24px);
}

// NOTE: Skyline does not support media queries
// @media (min-width: 1024px) {
.nenu.xl .grid-item {
  width: calc(16.666% - 24px);
}
