.nenu {
  .grid-component-header {
    min-height: 13px;
    padding: 23px 25px 5px;
    text-align: left;
  }

  .grid-component-wrapper {
    padding: 0 6px;
    text-align: center;

    // NOTE: Skyline does not support media queries
    // @media (min-width: 768px) {
    &.wide {
      padding: 0 10px;
    }
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(33.33% - 24px);
    margin: 4px;
    padding: 6px 8px;
    border-radius: 6px;

    background-color: var(--bg-block);

    // NOTE: Skyline does not support media queries
    // @media (min-width: 480px) {
    &.medium {
      width: calc(25% - 24px);
    }

    // NOTE: Skyline does not support media queries
    // @media (min-width: 768px) {
    &.large {
      width: calc(20% - 24px);
    }

    // NOTE: Skyline does not support media queries
    // @media (min-width: 1024px) {
    &.xlarge {
      width: calc(16.666% - 24px);
    }
  }

  .grid-icon {
    width: 24px;
    height: 24px;
  }

  .grid-text {
    color: var(--grey4);
    font-size: 13px;
  }
}
