/* stylelint-disable selector-max-class */
.features-wrapper.flat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;

  margin: 6px 8px;

  text-align: left;

  &.webview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
    justify-content: space-around;

    @media (min-width: 520px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &.skyline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
  }

  .feature-item {
    display: flex;
    align-items: center;

    padding: 6px 8px;
    border-radius: 6px;

    background-color: var(--bg-block);
  }

  &.webview .feature-item {
    font-size: clamp(12px, 10.176rem + 0.57vw, 16px);
  }

  &.skyline .feature-item {
    flex: auto 0 0;

    box-sizing: border-box;
    width: calc(33.33% - 8px);
    margin: 4px;

    font-size: 14px;

    .medium & {
      width: calc(25% - 8px);
    }

    .large & {
      width: calc(20% - 8px);
    }

    .large.xl & {
      width: calc(16.66% - 8px);
    }
  }

  .feature-icon {
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }

  .feature-text {
    color: var(--grey4);
    font-size: 15px;
  }
}
