/* stylelint-disable selector-max-class */
.features-wrapper.icon {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;

  overflow: hidden;

  margin: 8px 16px;
  border-radius: 8px;

  background-color: var(--bg-block);

  text-align: center;

  .feature-item {
    position: relative;

    box-sizing: border-box;
    width: 20%;
    margin: 0;
    padding: 8px;

    background-color: var(--bg-block);

    line-height: 1.25;
  }

  &.webview .feature-item {
    @media (min-width: 480px) {
      width: 16.666%;
    }

    @media (min-width: 768px) {
      width: 14.28%;
    }

    @media (min-width: 1024px) {
      width: 12.5%;
    }
  }

  &.skyline .feature-item {
    flex: auto 0 0;

    .medium & {
      width: 16.666%;
    }

    .large & {
      width: 14.28%;
    }

    .large.xl & {
      width: 12.5%;
    }
  }

  .feature-icon {
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }

  .feature-text {
    color: var(--dark-grey);
    font-size: 12px;
  }
}
