.features-wrapper.icon {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;

  overflow: hidden;

  margin: 8px 16px;
  border-radius: 8px;

  background-color: var(--bg-block);

  text-align: center;

  .feature {
    position: relative;

    flex: auto 0 0;

    box-sizing: border-box;
    width: 20%;
    max-width: 80px;
    margin: 0;
    padding: 8px;

    background-color: var(--bg-block);

    line-height: 1.25;

    .icon {
      width: 32px;
      height: 32px;
      margin: 0 auto;
    }

    .text {
      color: var(--dark-grey);
      font-size: 12px;
    }
  }
}
