.ios .title-component {
  box-sizing: border-box;
  max-width: var(--max-width);
  margin: 12px var(--horizontal-margin) 4px;

  font-weight: bold;
  font-size: 24px;
  text-align: left;
}

.ios.grey .title-component {
  padding-left: 16px;
}
