.ios .title-component {
  box-sizing: border-box;
  max-width: var(--max-width);
  margin: 0 var(--horizontal-margin);
  padding: 12px 4px 4px;

  font-weight: bold;
  font-size: 24px;
  text-align: left;

  + .title-component {
    padding-top: 2px;
  }
}

.ios.grey .title-component {
  padding-left: 30px;
}
