.ios .title-component {
  max-width: var(--max-width);
  min-height: 24px;
  margin: 0 var(--horizontal-margin);
  padding: 12px 5px 6px;
  box-sizing: border-box;

  font-weight: 500;
  font-size: 22px;
  text-align: left;

  @media (min-width: 768px) {
    min-height: 26px;
    font-size: 24px;
  }

  .grey & {
    max-width: unset;
    padding-left: 30px;
  }

  + .title-component {
    padding-top: 2px;
  }
}
