.actions-container {
  text-align: left;

  .action-title {
    padding: 8px 25px 4px;
    font-weight: bold;
    font-size: 17px;
  }

  .action-button {
    max-width: var(--max-width);
    margin: 8px auto;
    font-size: 16px;
  }

  .action-button-mini {
    float: right;
  }
}

.category-action {
  margin: 0 16px;
  padding: 8px 12px;
  line-height: 1.25;

  .title {
    font-size: 16px;
  }

  .description {
    font-size: 14px;
  }

  .info {
    padding: 4px 0;
    font-size: 14px;
  }
}

.selected-class.class-item {
  margin: 8px 16px;
  border-radius: 8px;
  background: var(--bg-color-block);
}
