.search-container {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  margin: 12px 16px;
  padding: 8px 10px;
  border: 1px solid var(--grey);
  border-radius: 8px;

  .header {
    position: absolute;
    top: -12px;
    left: 35px;

    padding: 0 8px;

    background-color: var(--bg-color);

    line-height: 1;
  }

  .input {
    box-sizing: border-box;
    width: calc(100% - 8px);
    margin: 4px;
    padding: 4px 16px;
    border-radius: 8px;

    background-color: var(--bg-color-block);

    font-size: 14px;
    text-align: left;
  }

  .picker {
    width: calc(50% - 8px);
    margin: 4px;
    padding: 8px 0;
    border-radius: 8px;

    background-color: var(--bg-color-block);

    font-size: 14px;

    .display {
      display: flex;
      flex-wrap: wrap;
      padding: 0 8px;
    }

    .label {
      display: block;
      flex-grow: 1;
      margin-right: 8px;
      text-align: left;
    }

    .value {
      display: block;
      flex-grow: 1;
      text-align: right;
    }
  }

  .search-button {
    width: calc(100% - 32px);
    margin: 10px 16px 6px;
    padding: 8px 16px;
    font-size: 14px;
  }
}
