@import "table";
@import "../../styles/lib/widget";

.course-widget {
  &.medium {
    grid-column-start: span 2;
  }

  &.large {
    grid-row-start: span 2;
    grid-column-start: span 2;
    min-height: 320px;
  }
}

.course-item {
  border-bottom: 1px solid var(--border-color);
  font-size: 12px;
  line-height: 1.5;

  &:last-child {
    border-bottom: none;
  }
}

.next-course-name {
  font-weight: bold;
  transform: skew(-10deg);

  font-size: 18px;
  line-height: 1.75;
  text-align: center;
  margin: 0 auto;
}

.next-course-location {
  color: var(--dark-grey);
  font-size: 14px;
  text-align: right;
}

.course-table {
  margin-top: 4px;
}

.name.small {
  font-size: 12px;
}
