@import "table";

.course-widget {
  display: flex;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 15px;
  min-height: 160px;
  flex-direction: column;

  color: var(--text-color);
  background-color: var(--bg-color-block);
  box-shadow: 1px 1px 2px 3px var(--card-shadow);

  text-align: left;

  &.medium {
    grid-column-start: span 2;
  }

  &.large {
    grid-column-start: span 2;
    grid-row-start: span 2;
    min-height: 320px;
  }
}

.header {
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
}

.content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: stretch;
}

.hint-text {
  font-size: 12px;
  color: var(--dark-grey);
  text-align: center;
}

.course-item {
  font-size: 12px;
  line-height: 1.5;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: none;
  }
}

.next-course-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
  font-style: italic;
}

.next-course-location {
  font-size: 14px;
  color: var(--dark-grey);
  text-align: right;
}

.name.small {
  font-size: 12px;
}
