@import "table";
@import "../../styles/lib/widget";

.course-item {
  border-bottom: 1px solid var(--border-color);
  font-size: 12px;
  line-height: 1.5;

  &:last-child {
    border-bottom: none;
  }
}

.next-course-name {
  margin: 0 6px;

  font-weight: bold;
  font-size: 18px;
  line-height: 1.75;
  text-align: center;

  transform: skew(-10deg);
}

.next-course-location {
  color: var(--dark-grey);
  font-size: 14px;
  text-align: right;
}

.course-table-header-item,
.course-table-course-item {
  font-size: 12px;
}
