/* 输入列表 */

.input-list-item {
  .text {
    min-width: 3.5rem;
    text-align: right;
  }

  .input {
    text-align: left;
  }

  .picker {
    text-align: left;
  }

  .verify-code {
    width: 85px;
    height: 28px;
    margin-left: auto;
  }
}

.search-button {
  width: 92% !important;
  margin: 12px 4% !important;
}

.result-list {
  position: relative;

  margin: 16px 0;
  border-radius: 8px;

  background-color: var(--bg-block);
  color: var(--text-color);

  font-size: 17px;
  line-height: 1.75;

  .item {
    position: relative;
    display: flex;
    padding: 6px 16px;

    &::before {
      content: " ";

      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      height: 1px;
      border-top: 1px solid var(--border-color);

      transform: scaleY(0.4);
      transform-origin: 0 0;
    }

    &:first-child::before {
      display: none;
    }

    .result {
      flex: auto;
      text-align: right;
    }
  }
}

.error {
  text-align: center;

  .icon {
    margin: 12px auto;
  }

  .hint {
    color: #f00;
    font-size: 18px;
  }
}

/* 右上角解释文字 */
.notice {
  position: relative;

  overflow: hidden;

  margin: 16px;
  padding: 16px;
  border-radius: 8px;

  background-color: var(--bg-block);
  color: var(--text-color);

  font-size: 17px;
  line-height: 1.75;
  text-align: left;

  .title {
    margin-bottom: 10px;
    padding: 0 4px;
    font-weight: bold;
    font-size: 18px;
  }

  .detail-button {
    float: right;

    margin: -4px -8px 0 0;
    padding: 4px 8px;

    color: var(--grey);

    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0;
  }
}
