module.exports = {
  page: {
    title: "Mr.Hope 简介",
    content: [
      { tag: "title", text: "Mr.Hope 简介" },
      {
        tag: "text",
        text: ["Mr.Hope，东北师范大学 2025 届理论物理研究生"],
      },
      { tag: "title", text: "为什么要开发这个小程序" },
      {
        tag: "text",
        text: ["希望能为新生扫清入学前的迷茫。"],
      },
      { tag: "title", text: "反馈内容错误" },
      {
        tag: "text",
        text: ["您可通过客服渠道反馈小程序的内容错误"],
      },
    ],
  },
  hint: {
    type: "tip",
    header: "提示",
    text: [
      "此功能主要应对录取专业与录取通知书单号查询，招生办录入数据有严重滞后。录取结果请以省考试院查询结果为准。",
    ],
  },
};
