.carousel-component {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
}

.carousel-body {
  width: 100%;
  height: 400rpx;
}

.carousel-image {
  width: 100%;
  height: 100%;

  .carousel-component.card & {
    overflow: hidden;

    width: calc(100% - 32px);
    height: 360rpx;
    margin: 8px 16px;
    border-radius: 8px;
  }
}

.carousel-dot-wrapper {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;

  display: flex;
  justify-content: center;

  .carousel-component.card & {
    padding-bottom: 8px;
  }
}

.carousel-dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 4px;

  background-color: #fff;

  transition: all 0.6s;

  &.active {
    width: 12px;
  }
}
