/* android */
.android:not(.grey) {
  .text-component-header {
    font-size: 17px;
    line-height: 1.6;
  }

  .text-component {
    font-size: 15px;
  }

  &.grey .text-component {
    box-shadow: 1px 1px 2px 3px var(--hard-shadow);
  }
}
