.text-component-header {
  box-sizing: border-box;
  max-width: var(--max-width);
  margin: 8px var(--horizontal-margin) 4px;

  color: var(--text-color);

  font-weight: 500;
  font-size: 19px;
  text-align: left;

  &:empty {
    display: none;
  }

  .grey & {
    margin: 20px 16px 4px;
    padding: 0 16px;

    color: var(--dark-grey);

    font-weight: 500;
    font-size: 15px;

    &:empty {
      display: block;
    }

    &.after-title:empty {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.text-component {
  max-width: var(--max-width);
  margin: 0 var(--horizontal-margin);

  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;

  .grey & {
    position: relative;

    overflow: hidden;

    padding: 10px 16px;
    border-radius: 8px;

    background-color: var(--bg-block);
    color: var(--text-color);

    font-size: 17px;
    line-height: 1.6;
    text-align: left;
  }
}

.text-marker {
  flex-shrink: 0;
  padding-right: 0.5em;
  font-weight: 700;

  .grey & {
    padding: 0 0.5em 0 0;
  }
}

.ordered-list-item,
.unordered-list-item {
  display: flex;
}

.text-content {
  word-wrap: break-word;
}
