.text-component-header {
  display: block;

  max-width: var(--max-width);
  min-height: 13px;
  margin: 0 var(--horizontal-margin);
  padding: 12px 0 4px;

  color: var(--text-color);

  font-weight: 500;
  font-size: 19px;
  text-align: left;

  .grey & {
    min-height: unset;
    padding: 21px 16px 5px;

    color: var(--dark-grey);

    font-weight: 400;
    font-size: 13px;
  }
}

.text-component {
  max-width: var(--max-width);
  margin: 0 var(--horizontal-margin);

  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;

  .grey & {
    position: relative;

    overflow: hidden;

    padding: 10px 16px;
    border-radius: 8px;

    background-color: var(--bg-block);
    color: var(--text-color);

    font-size: 17px;
    line-height: 1.6;
    text-align: left;
  }
}

.text-marker {
  flex-shrink: 0;
  padding: 0 0.5em;
  font-weight: 700;

  .grey & {
    padding: 0 0.5em 0 0;
  }
}

.ordered-list-item,
.unordered-list-item {
  display: flex;
}

.text-content {
  word-wrap: break-word;
}
