.ios-title + .text-component-header {
  padding-top: 2px;
}

.ios {
  .text-component {
    line-height: 1.3;
  }

  .paragraph-item {
    margin-bottom: 16px;
  }

  .text-list-item {
    margin-bottom: 4px;
  }

  &:not(.grey) {
    .text-component-header {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
