@import "../../styles/lib/refresh-button";

.borrow-books {
  overflow: hidden;

  max-width: 517px;
  margin: 12px 15px;
  padding: 8px 12px;
  border-radius: 8px;

  background-color: var(--bg-color-block);

  @media (min-width: 630px) {
    margin: 12px auto;
  }
}

.loading {
  width: 48px;
  height: 48px;
}

.header {
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.refresh-button {
  float: right;
}

.empty {
  margin: 4px auto;
}

.book {
  padding: 4px;
  border-top: 1px solid var(--border-color);
  border-radius: 4px;

  &:first-child {
    border-top: none;
  }
}

.button-hover {
  background-color: var(--hover) !important;
}

.name {
  font-weight: 600;
  line-height: 2;
  text-align: left;
}

.time {
  display: flex;
  justify-content: space-evenly;
}
