.type-switch {
  display: flex;

  overflow: hidden;

  width: 120px;
  margin: 12px auto;
  border: 1px solid #2ecc71;
  border-radius: 14px;

  background-color: var(--bg-color);
  color: #2ecc71;

  font-weight: bold;
  line-height: 30px;
}

.type-switch-item {
  width: 50%;

  &.active {
    background-color: #2ecc71;
    color: var(--bg-color);
  }
}

.account-wrapper {
  height: 100%;
  text-align: left;
}

.account-item {
  position: relative;

  display: inline-flex;

  box-sizing: content-box;
  width: calc(100% - 56px);
  margin: 8px 16px;
  padding: 8px 12px;
  border-radius: 8px;

  line-height: 1.2;
  text-align: justify;

  // NOTE: Skyline does not support media queries
  // @media (min-width: 768px) {
  &.half {
    width: calc(50% - 61.5px);
    padding: 8px 12px;

    &:nth-last-child(2)::after {
      display: none;
    }
  }

  &::after {
    top: calc(100% + 8px);
  }

  &:last-child::after {
    display: none;
  }

  .logo {
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .detail {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    padding: 4px 8px;
  }

  .name {
    font-weight: 600;
    font-size: 17px;
    line-height: 2;
  }

  .desc {
    color: var(--dark-grey);
    font-size: 14px;
  }
}
