@import "../../styles/lib/refresh-button";

.card-balance {
  overflow: hidden;

  max-width: var(--max-width);
  margin: 12px var(--horizontal-margin);
  padding: 12px 20px;
  border-radius: 8px;

  background-color: var(--bg-color-block);
}

.loading {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin: 0 4px;
}

.header {
  text-align: left;
}

.refresh-button {
  float: right;
}
