.footer-component {
  max-width: var(--max-width);
  margin: 12px var(--horizontal-margin) 4px;
  padding-bottom: 12px;

  color: #86868b;

  font-size: 12px;
  line-height: 1.3333;
  text-align: left;

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: max(env(safe-area-inset-bottom), 12px);
  }
}

.footer-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer-cite-links {
  color: var(--action-color);
}

.footer-cite-link {
  padding: 6px 4px;

  &:first-child {
    padding-left: 0;
  }
}

.footer-copyright {
  margin-top: 10px;

  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
}
