@import "../../styles/lib/widgets";

.user-page {
  padding-bottom: 16px;
}

.account-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 990;

  overflow: hidden;

  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;

  background-color: var(--bg-color-block);

  .account {
    display: flex;
    align-items: center;
    padding: 6px 64px;
    text-align: left;
  }

  .avatar {
    overflow: hidden;

    width: 48px;
    height: 48px;
    margin-right: 8px;
    border-radius: 50%;
  }

  .info {
    flex: 1;
  }

  .name {
    position: relative;

    display: inline-block;

    padding-right: 20px;

    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;

    &::after {
      content: " ";

      position: absolute;
      top: 50%;
      right: 8px;

      display: flex;
      justify-content: center;

      width: 7px;
      height: 7px;
      margin-top: -4px;
      border-width: 2px 2px 0 0;
      border-style: solid;
      border-color: var(--arrow-color);

      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    }
  }

  .desc {
    line-height: 1.5;
  }
}

.account-placeholder {
  margin-bottom: 16px;
}
