@import "../../styles/lib/refresh-button";
@import "../../styles/lib/widget";

.card-balance {
  position: relative;
  background-color: var(--action-color);
  color: #fff;
}

.refresh-button {
  position: absolute;
  right: 12px;
  bottom: 12px;
  background-color: rgb(255 255 255 / 25%) !important;
}

.loading {
  vertical-align: middle;
  width: 27px;
  height: 27px;
  margin: 0 4px;
}

.money {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
