@import "../../styles/lib/refresh-button";
@import "../../styles/lib/widget";

.card {
  position: relative;
  background-color: var(--action-color);
  color: #fff;
}

.refresh-button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--bg-alpha) !important;
}

.qrcode-button {
  background-color: var(--bg-alpha) !important;
  color: inherit;
}

.loading {
  vertical-align: middle;
  width: 27px;
  height: 27px;
  margin: 0 4px;
}

.money {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
