.image-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: calc(100% - 40px);
  max-width: 520px;
  height: 400rpx;
  margin: 4px auto;
  border-radius: 12px;

  background-color: var(--border-color);
  color: var(--grey);

  .error-icon {
    margin-bottom: 8px;
  }

  .loading-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 6px;
  }
}

.img-component {
  display: block;

  width: calc(100% - 40px);
  max-width: 520px;
  margin: 4px auto;
  border-radius: 12px;
}

.img-description {
  margin: -2px auto 4px;
  padding: 0 20px;

  color: var(--grey3);

  font-weight: 300;
  font-size: 12px;
  text-align: center;
}
