.pe-calculator-page {
  box-sizing: border-box;
  height: 100vh;
}

/* 右上角解释文字 */
.desc-wrapper {
  margin: 4px 8px;
  text-align: right;
}

.desc-button {
  width: auto;
  padding: 6px;
  color: var(--grey);
  font-size: 15px;
}

/* 分数部分 */

.score-wrapper {
  display: flex;

  .bmi,
  .score {
    width: 50%;
    text-align: center;
  }

  .title {
    margin: 6px 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
  }

  .result {
    min-height: 44px;
    margin: 12px;

    font-weight: 500;
    font-size: 22px;
    line-height: 2;
  }
}

/* 输入列表 */

.input-list-wrapper {
  text-align: right;

  .input,
  .picker {
    text-align: right;
  }
}

.list-item {
  .text {
    text-align: left;
  }

  .unit {
    flex: none;
    padding-left: 16px;
    color: var(--grey4);
  }
}

/* 计算按钮 */

.calculate-button {
  margin: 16px auto !important;
}

/* 成绩列表 */

.score-list {
  position: relative;

  margin: 16px 0;
  border-radius: 8px;

  background-color: var(--bg-block);
  color: var(--text-color);

  font-size: 17px;
  line-height: 1.75;

  .item {
    position: relative;
    display: flex;
    padding: 6px 16px;

    &::before {
      content: " ";

      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      height: 1px;
      border-top: 1px solid var(--border-color);

      transform: scaleY(0.4);
      transform-origin: 0 0;
    }

    &:first-child::before {
      display: none;
    }

    .score {
      flex: auto;
      text-align: right;
    }
  }
}
