@import "../../styles/lib/icon";

.info-list {
  padding: 6px 0;
}

.info-item {
  margin: 8px 15px;
  border-radius: 8px;
  overflow: hidden;
  background: var(--bg-color-block);
}

.button-hover {
  background-color: var(--bg-hover) !important;
}

.cover {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 50%;

  image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: unset;
    height: unset;
  }
}

.detail {
  padding: 8px;
  text-align: left;
}

.title {
  line-height: 1.25;
  font-size: 17px;
}

.info {
  margin-top: 4px;
  font-size: 14px;

  .icon-font {
    margin: 0 2px;
  }
}

.description {
  font-size: 13px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 12px;

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: max(env(safe-area-inset-bottom), 10px);
  }

  .prev,
  .next {
    margin: 2px 4px;
    padding: 5px 8px;
    font-size: 14px;
    line-height: 1.5;
  }

  .current {
    padding: 5px 8px;
    border-radius: 8px;
    background-color: var(--bg-color-block);
    line-height: 1.5;
  }
}
