.website-list {
  height: 100%;
  text-align: left;
}

.website-item {
  position: relative;

  display: inline-block;

  width: calc(100% - 56px);
  margin: 0 16px;
  padding: 12px;
  border-radius: 8px;

  text-align: justify;

  // NOTE: Skyline does not support media queries
  &.half {
    width: calc(50% - 61.5px);

    &:nth-last-child(2)::after {
      display: none;
    }
  }

  &:last-child::after {
    display: none;
  }
}

.website-name {
  font-weight: 600;
  font-size: 17px;
}

.website-link {
  color: var(--dark-grey);
  font-size: 14px;
}
