@import "../../styles/lib/icon";

.course-commentary-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.course-commentary-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 15px;
}

.picker {
  padding: 5px 8px;
  border-radius: 8px;
  background-color: var(--bg-color-block);
  line-height: 1.5;
}

.course-item {
  margin: 8px 15px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.course-header {
  font-weight: bold;
  line-height: 1.5;
}

.course-info {
  flex: 1;
  margin-top: 4px;
  font-size: 14px;

  .icon-font {
    margin: 0 2px;
  }
}

.total-score {
  font-weight: bold;
  line-height: 1.5;
  font-size: 17px;
}

.score-item {
  margin: 8px 0;
  display: flex;

  .text {
    font-size: 14px;
    flex: 1;
  }

  .answer {
    margin-left: 8px;
  }
}

.question-item {
  margin: 12px 0;
}

.question-title {
  line-height: 1.5;
  margin-bottom: 4px;
}

.score-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.score-option {
  display: flex;
  margin: 4px 8px;
  font-size: 14px;

  radio {
    width: 14px;
    height: 14px;
  }
}

.commentary-textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0;
  padding: 8px;

  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 6rem;
}
