@import "../../widgets/course/table";

.course-table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.course-table-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 15px;
}

.picker {
  padding: 5px 8px;
  border-radius: 8px;
  background-color: var(--bg-color-block);
  line-height: 1.5;
}

.course-table {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 1px dashed var(--border-color);
  overflow: hidden;
  .name {
    font-weight: 600;
  }
}

.course-table-body {
  flex: 1;
  overflow: auto;
}
