@import "../utils/courseTable";

.course-table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.course-table-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 15px;
}

.picker {
  padding: 5px 8px;
  border-radius: 8px;
  background-color: var(--bg-color-block);
  line-height: 1.5;
}

.refresh-button {
  margin: 0 !important;
}

.course-table {
  flex: 1;
  border-top: 1px dashed var(--border-color);
}
