.calendar-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  height: 100vh;
}

.desc {
  margin: 12px 20px;
  color: var(--grey);
  font-size: 14px;
  text-align: right;
}

.calendar-wrapper {
  flex: 1;

  // for webview renderer only
  overflow-y: scroll;

  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;
}
