.student-card {
  margin: 8px 16px;
  border-radius: 8px;
  background: var(--bg-block);
  box-shadow: 1px 1px 4px 2px var(--hard-shadow);
}

.student-card-header-line {
  height: 4px;
  margin-top: 12px;
  margin-bottom: 4px;
  background: var(--blue);
}

.student-card-header,
.student-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4px 8px;

  background: var(--blue);
  color: var(--bg-block);

  font-weight: bold;
}

.student-card-body {
  display: flex;
  height: 240rpx;
}

.student-card-info {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.student-card-avatar {
  width: 240rpx;
  height: 240rpx;
}

.student-card-footer {
  margin-bottom: 12px;
}

.gender-icon {
  position: relative;
  bottom: -0.125em;

  vertical-align: baseline;

  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.id-code-button {
  margin: 16px auto 8px;
  background: var(--bg-color);
}
