.account {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.logo {
  width: 96px;
  height: 96px;
  margin: 24px auto;
}

.input-list-wrapper {
  max-width: var(--max-width);
  margin: 0 var(--horizontal-margin);
}

.student-card {
  margin: 8px 16px;
  border-radius: 8px;
  background: var(--bg-color-block);
  box-shadow: var(--card-shadow);
}

.student-card-header-line {
  margin-top: 12px;
  height: 4px;
  margin-bottom: 4px;
  background: var(--blue);
}

.student-card-header,
.student-card-footer {
  background: var(--blue);
  color: var(--bg-color-block);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  font-weight: bold;
}

.student-card-body {
  height: 240rpx;
  display: flex;
}

.student-card-info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-card-avatar {
  width: 240rpx;
  height: 240rpx;
}

.student-card-footer {
  margin-bottom: 12px;
}

.gender-icon {
  position: relative;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  vertical-align: baseline;
  bottom: -0.125em;
}

.id-code-button {
  margin: 16px auto 8px;
  background: var(--bg-color);
}

.input-list-item {
  .password-button {
    flex-shrink: 0;

    width: 44px;
    padding: 4px 8px;

    color: var(--text-color);

    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
  }

  .captcha-image {
    width: 80px;
    height: 32px;
  }
}

.license-checkbox {
  display: flex;
  align-items: center;

  max-width: var(--max-width);
  margin: 0 var(--horizontal-margin);
  padding: 4px 8px;

  color: #888;

  font-size: 14px;
  text-align: left;

  .license-text {
    color: var(--action-color);
  }
}

.delete-button {
  min-width: 240px;
  margin: 16px auto 8px;
}

.save-button {
  min-width: 240px;
  margin: 16px auto 8px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: var(--max-width);
  margin: 8px var(--horizontal-margin);
}

.activate-button,
.reset-button {
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--grey3);
  font-size: 14px;
}

.list-component-content .desc {
  max-width: unset !important;
}

.login-mask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-popup {
  z-index: 5000;

  display: flex;
  flex-direction: column;

  padding: 16px;
  border-radius: 12px;

  background-color: #fff;
  color: var(--grey3);

  text-align: left;

  @media (prefers-color-scheme: dark) {
    background-color: #1c1c1e;
  }
}

.login-popup-title {
  padding: 8px 4px 16px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.4;
}

.login-popup-hint {
  font-size: 12px;
  padding: 0 4px 16px;
}

.login-popup-content {
  position: relative;
}

.captcha-bg {
  z-index: 0;
  display: block;
  width: 295px;
  height: 180px;
}

.captcha-slider-image {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 180px;
}

.slider-track {
  position: relative;

  width: 293px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 8px;

  text-align: left;
}

.slider-button {
  position: relative;

  display: inline-block;

  width: 24px;
  height: 24px;
  margin: -1px;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.slider-icon {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.re-auth-input {
  padding: 8px 12px;
  border-radius: 8px;

  border: 1px solid var(--theme-color);
  background-color: var(--bg-color-block);

  font-size: 18px;
  line-height: 1;
}

.re-auth-footer {
  margin-top: 16px;
  text-align: right;
}

.cancel-button,
.verify-button {
  margin: 8px;
}

.id-code-mask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.id-code-popup {
  z-index: 5000;

  display: flex;
  flex-direction: column;

  padding: 16px;
  border-radius: 12px;
  width: 80%;
  max-width: 320px;

  background-color: #fff;
  color: var(--grey3);

  text-align: center;

  @media (prefers-color-scheme: dark) {
    background-color: #1c1c1e;
  }
}

.id-code-popup-title {
  padding: 8px 4px 16px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.4;
}

.id-code-info-item {
  line-height: 1.75;
  display: flex;

  .label {
    font-weight: bold;
    flex: 4 4 0;
    text-align: right;
    margin-right: 8px;

    &::after {
      content: ":";
    }
  }

  .value {
    flex: 6 6 0;
    text-align: left;
  }
}

.confirm-button {
  margin-top: 16px;
}
