@import "../../styles/lib/widget";

.info {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 8px;

  &::before {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 4px;
    border-radius: 12px;

    background-color: rgb(127 127 127 / 15%);
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: var(--progress);
    height: 4px;
    border-radius: 12px;

    background-color: var(--action-color);

    transition: width 0.5s ease-in-out;
  }
}

// .progress {
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   height: 4px;
//   background-color: var(--action-color);
//   border-radius: 12px;
//   // z-index: 1;
// }

.label {
  z-index: 2;
  font-weight: bold;
  font-size: 17px;
}

.value {
  z-index: 2;
  font-size: 15px;
  text-align: right;
}
