/* ---nenu theme made by MrHope--- */

.nenu {
  width: 100%;
  min-height: 100%;

  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: "Helvetica Neue", FZSSJW, -apple-system-font, "PingFang SC",
    Helvetica, STHeiti, Tahoma, Simsun, sans-serif !important;

  &.grey {
    background-color: #f0f0f0;

    @media (prefers-color-scheme: dark) {
      background-color: #0f0f0f;
    }
  }
}
