@use "../../../styles/lib/svg";
@use "icons";

.hint-box-component.tip {
  --hint-box-border-color: #009400;
  --hint-box-bg-color: #e6f6e6;
  --hint-box-title-color: #003100;

  .hint-box-title {
    &::before {
      @include svg.background-svg(icons.$tip-icon);
    }
  }
}
