// FIXME: Check appearance
.check-box {
  position: relative;

  display: inline-block;

  height: 14px;
  margin-right: 20px;

  background-color: #fff;

  &::after {
    content: " ";

    position: absolute;
    top: 0;

    display: inline-block;

    width: 14px;
    height: 14px;
    padding-inline-start: 0;
    border: 1px solid #ddd;
    border-radius: 2px;

    background-color: #fff;

    text-align: center;

    visibility: visible;
  }

  &.checked {
    &::before {
      content: " ";

      position: absolute;
      top: 1.5px;
      left: 4px;
      z-index: 1;

      width: 2.8px;
      height: 7px;
      border-color: var(--white);
      border-width: 0 2px 2px 0;

      transform: rotate(45deg);
    }

    &::after {
      border-color: var(--theme-color);
      background-color: var(--theme-color);
    }
  }
}
