@import "../../styles/lib/icon";
@import "../../styles/lib/refresh-button";

.notice-list {
  overflow: hidden;

  max-width: var(--max-width);
  margin: 8px var(--horizontal-margin);
  border-radius: 8px;

  background-color: var(--bg-color-block);
}

.loading {
  width: 48px;
  height: 48px;
}

.header {
  font-size: 17px;
  padding: 10px 12px 4px;
  text-align: left;
  line-height: 1.5;
}

.refresh-button {
  float: right;
  vertical-align: bottom;
}

.notice {
  padding: 4px 10px;

  position: relative;
  font-size: 14px;

  &::before {
    top: 0;
    border-top: 1px solid var(--border-color);
    transform-origin: 0 0%;
    content: " ";

    position: absolute;
    right: 0;
    left: 0;

    height: 1px;

    transform: scaleY(0.4);

    .header + & {
      display: none;
    }
  }
}

.button-hover {
  background-color: var(--hover) !important;
}

.more {
  font-size: 13px;
  text-align: right;
  padding: 4px 24px 8px;
  color: var(--dark-grey);
}

.title {
  line-height: 1.25;
  text-align: left;
}

.info {
  font-size: 13px;
  margin-top: 3px;
  text-align: left;
}
