@import "../../styles/lib/refresh-button";

.notice-list {
  overflow: hidden;

  max-width: var(--max-width);
  margin: 8px var(--horizontal-margin);
  border-radius: 8px;

  background-color: var(--bg-color-block);
}

.loading {
  width: 48px;
  height: 48px;
}

.header {
  padding: 10px 12px 4px;
  font-size: 17px;
  line-height: 1.5;
  text-align: left;
}

.refresh-button {
  vertical-align: bottom;
  float: right;
}

.notice {
  position: relative;
  padding: 4px 10px;
  font-size: 14px;

  &::before {
    content: " ";

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 1px;
    border-top: 1px solid var(--border-color);

    transform: scaleY(0.4);
    transform-origin: 0 0%;

    .header + & {
      display: none;
    }
  }
}

.button-hover {
  background-color: var(--hover) !important;
}

.more {
  padding: 4px 24px 8px;
  color: var(--dark-grey);
  font-size: 13px;
  text-align: right;
}

.title {
  line-height: 1.25;
  text-align: left;
}
