@use "logo";
@import "../../styles/lib/icon";

.weather-wrapper {
  position: relative;

  padding: 10px 15px;

  color: #fff;

  font-size: 16px;
  text-align: left;

  .detail {
    padding: 4px;
    font-size: 14px;
  }

  .now {
    display: inline-block;
    margin-right: 12px;
  }

  .degree {
    font-size: 28px;
  }

  .unit {
    font-size: 24px;
  }

  .range {
    display: inline-block;
    font-size: 18px;
  }

  .hint {
    font-size: 12px;

    .icon-font {
      margin-left: 4px;
    }
  }

  .loading {
    width: 48px;
    height: 48px;
    margin: 10px calc(50% - 24px);
  }
}
