@import "../../styles/lib/icon";

.add-my-app-wrapper {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 1100;
}

.arrow {
  content: " ";

  position: absolute;
  right: 40px;
  bottom: 100%;
  z-index: 1102;

  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--bg-color-block);
  border-left: 8px solid transparent;
}

.add-my-app {
  position: relative;
  z-index: 1101;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 12px;
  border-radius: 6px;

  background-color: var(--bg-color-block);
  color: var(--text-color);
  box-shadow: 1px 0 8px 4px rgb(0 0 0 / 15%);

  font-size: 14px;
  line-height: 2.5;
}

.close-wrapper {
  padding-left: 4px;
}

.icon-button {
  width: 16px;
  height: 16px;
}
