@import "../../styles/lib/icon";

.notice-detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: left;
}

.content {
  flex: 1;
  width: calc(100% - 30px);
  margin: 8px 15px;
}

.title {
  margin: 6px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.25;
}

.info {
  margin: 4px 0;
  font-size: 14px;

  .icon-font {
    margin: 0 2px;
  }
}
