.location-info {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  max-width: var(--max-width);
  margin: 0 var(--horizontal-margin);
  padding: 8px 16px;

  font-weight: 500;
  font-size: 28px;
  text-align: left;
}

.location-name {
  flex: 1;
}

.navigate-button {
  border-radius: 16px;
}
