.intro-page {
  height: 100vh;
  padding-bottom: 16px;
}

.feature-button-wrapper {
  margin: 4px 16px;
  text-align: right;
}

.feature-button {
  display: inline-block;
  color: var(--action-color);
  font-size: 12px;
  line-height: 1.5;
}

.more {
  margin: 16px;
  border-radius: 16px;

  background-color: var(--bg-block);

  text-align: center;

  transition: all 0.5s ease-in-out;

  .more-title {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 16px;

    font-weight: 600;
    font-size: 18px;
    line-height: 2;
    text-align: center;

    .icon {
      position: relative;

      display: inline-block;
      vertical-align: baseline;

      width: 24px;
      height: 24px;
      margin-left: 10px;
      border-radius: 50%;

      background-color: rgb(127 127 127 / 15%);

      &::before {
        content: " ";

        position: absolute;
        top: calc(50% - 2px);
        left: 15%;

        width: 70%;
        height: 4px;

        background-color: var(--text-color);
      }

      &::after {
        content: " ";

        position: absolute;
        top: 15%;
        left: calc(50% - 2px);

        width: 4px;
        height: 70%;

        background-color: var(--text-color);
      }
    }
  }

  .more-list {
    overflow: hidden;

    .list-component-header {
      display: none !important;
    }

    .list-component-content {
      margin: 0;
      border-radius: 16px;
      box-shadow: none;
    }
  }

  .more-content {
    overflow: hidden;
    height: 0;
    transform: translateY(-40px);
  }

  &.show {
    margin: 16px 0;
    background-color: transparent;

    .more-title {
      justify-content: space-between;

      .icon {
        transform: rotate(45deg);
      }
    }

    .more-list {
      height: 0;
    }

    .more-content {
      height: auto;
      transform: translateY(0%);
    }
  }
}
